.diagnosticos {
    padding: 20px;
  }
  
  
  .button-expandir {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button-expandir:hover {
    background-color: #45a049;
  }
  
  tr.detalhes {
    background-color: #f2f2f2;
    border: none;
  }
  
  tr.detalhes p {
    margin: 5px;
  }
  
  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
  }
  
  .expandir {
    border: none;
  }
  